@model IEnumerable<Common.Thesaurus.Dto.WordDto>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="btn btn-primary float-right" asp-action="Create">Create</a>
</p>
<form asp-controller="Words" asp-action="Index" method="get">
    <p>
        <input type="text" placeholder="Word or synonym" name="searchString" />
        <input type="submit" class="btn btn-sm btn-primary" value="Search" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Synonyms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Synonyms)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
